@model LoginService.Models.LoginModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Welcome, please login to continue.";
}
<h2>@ViewData["Title"]</h2>
<form method="post" asp-controller="Login" asp-action="Login" asp-antiforgery="true">
<div class="input-group mb-3">
    <label id="email-label" for="Email">Email</label>
    <input type="text" class="form-control" id="Email" name="Email" aria-labelledby="email-label" required autocomplete="email">
</div>
<div class="input-group mb-3">
    <label id="password-label" for="Password">Password</label>
    <input type="password" class="form-control" id="Password" name="Password" aria-labelledby="password-label" required autocomplete="current-password">
</div>

    <button type="submit" class="btn btn-success mb-3">Login</button>
    <div class="links">
        <a href="@Url.Action("ResetPassword", "Password")" class="btn btn-info">Reset Password?</a>
        <a href="@Url.Action("ForgotUsername", "Password")" class="btn btn-info">Forgot Username?</a>
        <a href="@Url.Action("Register", "Registration")" class="btn btn-info">Register</a>
    </div>
</form>