@model LoginService.Models.RegisterModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Please enter your Email and Password then click Register.";
}
<h2>@ViewData["Title"]</h2>
<form method="post" asp-controller="Registration" asp-action="Register" asp-antiforgery="true">
<div class="input-group mb-3">
    <label id="email-label" for="Email">Email:</label>
    <input type="text" class="form-control" id="Email" name="Email" aria-labelledby="email-label" required autocomplete="email">
</div>
<div class="input-group mb-3">
    <label id="password-label" for="Password">Password:</label>
    <input type="password" class="form-control" id="Password" name="Password" aria-labelledby="password-label" required autocomplete="new-password">
</div>
<div class="input-group mb-3">
    <label id="confirm-password-label" for="ConfirmPassword">Confirm Password:</label>
    <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" aria-labelledby="confirm-password-label" required autocomplete="new-password">
</div>
    <button type="submit" class="btn btn-primary mb-3">Register</button>
</form>