@model LoginService.Models.ForgotUsernameModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Please enter your Email and click Retrieve Username to Proceed.";
}
<h2>@ViewData["Title"]</h2>
<form method="post" asp-controller="Password" asp-action="ForgotUsername" asp-antiforgery="true">
<div class="input-group mb-3">
    <label id="email-label" for="Email">Email Address:</label>
    <input type="email" id="Email" name="Email" class="form-control" required autocomplete="email" aria-labelledby="email-label"/>
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
    <button type="submit" class="btn btn-primary mb-3">Retrieve Username</button>
</form>