@model LoginService.Models.ResetPasswordModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Enter your Email and click Reset Password to Proceed.";
}
<h2>@ViewData["Title"]</h2>
<form method="post" asp-controller="Password" asp-action="ResetPassword" asp-antiforgery="true">
<div class="input-group mb-3">
    <label id="email-label" for="Email">Email Address:</label>
    <input type="email" id="Email" name="Email" class="form-control" autocomplete="email" aria-labelledby="email-label"/>
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
    <button type="submit" class="btn btn-primary mb-3">Reset Password</button>
</form>